fastapi
uvicorn
pdfplumber
python-docx
pytesseract
pillow
PyMuPDF
pandas
scikit-learn
python-multipart
spacy
nltk
passlib
bcrypt==3.2.2
python-jose[cryptography]
sqlalchemy
pydantic[email]
pymongo
motor
